@model IEnumerable<BPLS.CadastroVeiculo.Aplicacao.ViewModel.VeiculoViewModel>

@{
    ViewData["Title"] = "Lista Veiculos";
}

<h1>Lista Veiculos</h1>

<p>
    <a asp-action="Novo">Novo Veiculo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoModelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoModelo)
            </td
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
